.containerProyecto {
    background-color: rgba($blanco, 0.5);
    overflow: hidden;
}

.containerPokebola {
    width: 100vw;
    height: 100vh;
    z-index: -2;
    position: absolute;
    display: grid;
    grid-template-columns: 23fr 15fr 1fr;
    grid-template-rows: 0.7fr 16fr 0.7fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: stretch;
    align-items: start;
}

.pokebola {
    width: 33vw;
    max-width: 580px;
    margin: 2.5vh;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.contenedor {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    overflow: hidden;
}

.containerRejilla {
    zoom: 5;
}

.pokedex {
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: grid;
    grid-template-columns: 25fr 15fr 1fr;
    grid-template-rows: 0.7fr 15fr 0.7fr;
    justify-items: center;
    justify-content: space-evenly;
    align-content: stretch;
    overflow: hidden;
}

.containerPokedexName {
    background: $gradient-red;
    width: 60vw;
    padding: 5px 0;
    border: $border-black;
    border-top: transparent;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.title {
    color: $blanco;
    font-size: 25px;
    font-family: $font-title;
    text-shadow: 2.5px 1px #222222;
}

.pokemonInfo {
    width: 50vw;
    height: 85vh;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    justify-content: space-evenly;
}

.pokemonLista {
    background-color: $rojo-claro;
    width: 100%;
    height: 84vh;
    margin: 20px;
    border: $border-black;
    border-radius: 15px;
    overflow: scroll;
}

.containerPokemon {
    background-color: $blanco;
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    overflow: hidden;
}

.containerLogo {
    background-color: $rojo-claro;
    padding: 4px 7px;
    border-right: $border-rosa;
}

.logoPokemon {
    width: 35px;
    height: 35px;
    transform: rotate(-10deg);
}

.containerNumPokemon {
    width: 50px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerName {
    display: flex;
    height: 41px;
    justify-content: left;
    align-items: center;
}

.containerControl {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoFlecha {
    width: 40px;
    height: 40px;
}

.logoNext {
    transform: rotate(180deg);
}

.containerScroll {
    background-color: $blanco;
    width: 5px;
    height: 100%;
    border: $border-black;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
}

.scroll {
    background: $gradient-blue;
    width: 24px;
    height: 40px;
    border: $border-black;
    border-radius: 9px;
    position: absolute;
    animation: 1s all linear;
}

.creadorName {
    background: $gradient-red;
    width: 60vw;
    border: $border-black;
    border-bottom: transparent;
    border-radius: 10px 10px 0px 0px;
    font-family: "Angkor", cursive !important;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
