.containerTitleName {
    background-color: red;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleName {
    background-color: white;
    width: 100%;
    padding: 5px;
    margin: 5px 40px;
    text-align: center;
}

.containerFoto {
    width: 100%;
    /*  max-width: 275px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    width: 20vw;
    max-width: 400px;
}

.containerElemento {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.type {
    background-color: greenyellow;
    border: 2px solid black;
    padding: 10px 30px;
    margin: 10px 5px;
    border-radius: 20px;
}

.containerStats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.containerStatsOne {
    width: 95%;
    padding: 5px 10px;
}

.containerStatsOne {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: start;
}

.statsBarr {
    background-color: darkgrey;
    width: 100%;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
}

.starsBarrInterna {
    width: 0px;
    height: 8px;
    border-radius: 4px;
    transition: 1s all linear;
}

.containerTextText {
    background-color: red;
    border: 2px solid black;
    width: 50vw;
    margin: 10px;
}

.containerText {
    background-color: white;
    height: 40px;
    padding: 5px;
    margin: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-normal {
    background-color: grey;
}

.type-fighting {
    background-color: darkorange;
}
.type-flying {
    background-color: aquamarine;
}
.type-poison {
    background-color: darkorchid;
}
.type-ground {
    background-color: saddlebrown;
}
.type-rock {
    background-color: rosybrown;
}
.type-bug {
    background-color: darkolivegreen;
}
.type-ghost {
    background-color: indigo;
}
.type-steel {
    background-color: cadetblue;
}
.type-fire {
    background-color: red;
}
.type-water {
    background-color: steelblue;
}
.type-grass {
    background-color: darkgreen;
}
.type-electric {
    background-color: gold;
}
.type-psychic {
    background-color: crimson;
}
.type-ice {
    background-color: aqua;
}
.type-dragon {
    background-color: darkblue;
}
.type-dark {
    background-color: darkslategray;
}
.type-fairy {
    background-color: hotpink;
}
.type-unknown {
    background-color: mediumslateblue;
}
.type-shadow {
    background-color: black;
    color: white;
}
